//Color
$text-color: #1A1816;
$white: #fff;
$bg-color: #F5F4F0;
$purple: #7B61FF;

//Window size
$desktop: 1440px;
$tablet: 768px;
$mobile: 480px;

//Font weight
$font-light: 300;
$font-bold: 700;

//Section spacing
$section-gap-desktop: 160px;
$section-gap-tablet: 120px;
$section-gap-mobile: 72px;

//Font size
$font-size-desctop-header: 290px;
$font-size-desctop-subheader: 24px;
$font-size-desctop-main-text: 16px;

$font-size-tablet-header: 200px;
$font-size-tablet-subheader: 18px;
$font-size-tablet-main-text: 14px;

$font-size-mobile-header: 100px;
$font-size-mobile-subheader: 18px;
$font-size-mobile-main-text: 12px;

//Line Height
$line-heigth-header: .6;
$line-height-main: .95;

//Letter Spacing
$letter-spacing-header: -0.1em;