//Color
$text-color: #1A1816;
$white: #fff;
$bg-color: #F5F4F0;
$purple: #7B61FF;

//Window size
$desktop: 1440px;
$tablet: 768px;
$mobile: 480px;

//Font weight
$font-light: 300;
$font-bold: 700;

//Font size
$font-size-header: 290px;
$font-size-subheader: 28px;
$font-size-main-text: 18px;
