//Color
$text-color: #1A1816;
$white: #fff;
$bg-color: #F5F4F0;
$purple: #7B61FF;

//Window size
$desktop: 1440px;
$tablet: 768px;
$mobile: 480px;

//Font weight
$font-light: 300;
$font-bold: 700;

//Font size
$font-size-desc-header: 290px;
$font-size-desc-subheader: 28px;
$font-size-desc-main-text: 18px;

$font-size-mob-header: 100px;
$font-size-mob-subheader: 18px;
$font-size-mob-main-text: 14px;

//Line Height
$line-heigth-header: .6;
$line-height-main: .95;