@use "../../styles/variables" as *;

.footer {
  width: 100%;
  max-width: 1280px;
  margin-top: $section-gap-desktop;
  color: $text-color;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: $text-color;
}

.footer__copyright {
  padding: 45px 0;
  font-size: $font-size-desctop-subheader;
  font-weight: $font-light;
  line-height: $line-height-main;
}

@media (max-width: 1440px) {
  .footer {
    margin-top: $section-gap-tablet;
  }

  .footer__copyright {
    padding: 28px 0;
    font-size: clamp(
      $font-size-mobile-subheader,
      2vw,
      $font-size-desctop-subheader
    );
  }
}

@media (max-width: 767px) {
  .footer {
    margin-top: $section-gap-mobile;
  }
}

@media (max-width: 879px) {
  .footer {
    width: 100%;
    max-width: none;
    margin-top: 0;
  }

  .footer__line {
    width: 100%;
  }

  .footer__copyright {
    width: 100%;
    padding: 50px 0 45px;
    font-size: clamp(
      $font-size-mobile-main-text,
      1vw,
      $font-size-desctop-main-text
    );
    overflow-wrap: anywhere;
  }
}
